.red_color {
  color: #ea4a49;
}
$red_colorVar: #ea4a49;
.light_blue {
  color: #00b9cd;
}
$light_blueVar: #00b9cd;
.midNight_green {
  color: #47727e;
}
.bg_black {
  background-color: black !important;
}
