.h_20{
    height: 20px;
}
.h_30{
    height: 30px;
}
.h_40{
    height: 40px;
}
.h_50{
    height: 50px;
}
.h_60{
    height: 60px;
}
.h_70{
    height: 70px;
}
.h_70{
    height: 70px;    
}
.h_100{
    height: 100px;
}
.h_120{
    height: 120px;
}